{{> tabs}}
<div class='contract'>
  <h2>Contract</h2>
  <strong>Training Programme Agreement</strong> dated ^^ <strong>between</strong>
  <p>Worthwhile, a Company Limited by Guarantee, with registration number 9078030; located at 16-17 Turl Street, Oxford, OX1 3DH</p>
  and<br/>
  <p>^^, a company with registration number ^^; located at {{employerAddress}} (The “Customer”)</p>

  <p>concerning recruitment services, training provision and wellbeing support designed to benefit both graduates and employers.</p>

  <h4>1. Services</h4>

  <p>Worthwhile agrees to provide recruitment services (the “Recruitment Services”) to the Customer with a view to filling the agreed role.  Once the Customer has employed an individual (the “Employee”) Worthwhile shall offer training (the “Training Services”) for the Employee and one other employee of the Customer, designed to support professional and personal development.</p>

  <h4>2. Fees</h4>
  <p>The Fee for the Recruitment Services is £1,500, payable in full 1 month after the first day of employment of the Employee.</p>
  <p>The Fee for the Training Services is £2,500, payable In two instalments:</p>
  <p>- £500 payable 1 months after the first day of employment of the Employee; and<br/>
  - £2,000 payable [6 months] after the first day of employment of the Employee.</p>

  <h4>3. Other terms and conditions</h4>

  <p>The additional terms and conditions attached form an integral part of this Agreement.</p>

  <p>Signed on behalf of Worthwhile:<br/>             Signature…………………………..<br/>
  By Robbie Semple.</p>

  <p>Signed on behalf of Customer<br/>		Signature……………………………<br/>
  Name…………………………….…<br/>
              Date……………………..<br/>

  <h5>ADDITIONAL TERMS AND CONDITIONS</h5>

  <h4>1. Recruitment Services</h4>


  <p>1.1 The role of Worthwhile is a recruitment agency, connecting the Customer with potential graduate candidates. The Customer will provide a detailed role description to Worthwhile. This will include a description of the Customer (or as appropriate, the division or department where the Employee will be working), a description of the key activities required for the role and a description of the key competencies required for the role.</p>

  <p>1.2 Worthwhile will advertise the role through informal networks, social media, newsletter and any other means it deems helpful.</p>

  <p>1.3 Worthwhile will identify, engage and screen candidates for the specified role with the Customer and will endeavour to put forward suitable candidates to the Customer. Worthwhile does not guarantee the ability or suitability of any candidate.</p>

  <p>1.4 This agreement in no way limits the Customer’s ability to advertise the role and elicit applications through any other means they deem advantageous. The Customer will make the final selection of candidate for the role.</p>

  <p>1.5 Worthwhile endeavours to ensure the suitability of any applicant introduced to the Customer.  However Worthwhile does not establish references and the Customer must satisfy himself as to the suitability of any applicant and shall be responsible for taking up any references (including confirmation of any professional or academic qualifications) provided by any applicant before engaging such applicant.</p>

  <p>1.6 If the Customer makes an offer to engage a candidate introduced by Worthwhile, it will be for direct employment by the Customer for a period of at least 10 months</p>


  <h4>2. Employee Training</h4>

  <p>2.1 Worthwhile will offer a 12 month programme of training (the “Programme”) including, as a minimum, 18 days of training that will focus on professional and personal development. The Employee will be entitled to attend all training sessions.</p>
  <p>2.2	The Programme will include a two day induction, one full day of training every month, and a two day session once a quarter.  The Employee will also be provided with mentoring support through the Programme.</p>
  <p>2.3 The Customer acknowledges the potential value of the training both to the Customer and the Employee and agrees to use its best endeavours to help ensure that the Employee can be available to attend all Worthwhile training days.</p>
  <p>2.4 To assist the Customer and Employee in planning, prior to the start of the Programme, Worthwhile will provide a schedule for training at covering dates, locations, and provisional topics for training. If for any reason, training dates or location change, the Customer and The Employee will be informed in writing as soon as is reasonably possible.</p>
  <p>2.5 Worthwhile will reimburse reasonable accommodation and travel expenses incurred by the Employee in attending Worthwhile training, provided the Employee can produce  receipts or proofs of purchase.</p>
  <p>2.6 Worthwhile will inform the Customer after each training day of the topics covered in the day.</p>

  <h4>3.   Limitation of liability</h4>
  <p>Worthwhile shall not be liable under any circumstances for any loss, damage or expense suffered or incurred by the Customer arising from or in any way connected with the introduction by Worthwhile to the Customer of any applicant or the engagement of any applicant by the Customer.</p>

  <h4>4.     Payment</h4>
  <p>4.1. Payment for the Recruitment Services becomes due and payable once the Employee has completed one month of employment with the Customer.</p>
  <p>4.2	Payment for the Training Services shall be made in accordance with clause 2 of page one of this Agreement. Fees shall be payable irrespective of how many training sessions the Employee or other staff of the Customer actually attend.</p>
  <p>4.3 Fees quoted exclude VAT. Payment of VAT is the responsibility of the Customer.</p>
  <p>4.4. Payment of invoices shall be made by the Customer when stated on the front page of this agreement and in any event within 15 days of receipt of an invoice.  In the event of the Customer failing to make timely payment then interest shall become due on the outstanding amount at the rate of 4% per annum above the base rate of the Bank of England, applicable at that time.</p>

  <h4>5. Term and Termination</h4>
  <p>5.1 This Agreement shall remain in force for 12 months from the start date of this agreement, unless earlier terminated in accordance with clause 5.6.</p>
  <p>5.2  Either Worthwhile or the Customer can terminate this agreement by providing written notice to the other party one month prior to the termination of the agreement</p>
  <p>5.3  The fee for the Recruitment Services, once it becomes due in accordance with clause 4.1 above, is not repayable in any circumstances.</p>
  <p>5.4  In the event of early termination of the Agreement, Worthwhile will reimburse payments for Training Services on a pro rata basis for sessions that have not taken place prior to the date of termination.</p>
  <p>5.5 In the event of the Employee terminating their employment with the Customer, the Customer may choose to either terminate this agreement with Worthwhile, or to send another member of staff to training in place of The Graduate</p>
  <p>5.6 In the event of the Employee terminating their employment with The Customer, Worthwhile will endeavour to help the Customer find a suitable replacement if it is the Customer’s wish to do so at no additional cost.</p>

  <h4>6.   Confidentiality</h4>

  <p>All introductions and applicant details are confidential and are supplied to the Customer on the understanding that it will keep the information confidential and not disclose it to any third party without Worthwhile’s prior written consent.</p>

  <h4>7. General</h4>

  <p>7.1 This agreement is the entire agreement between the parties relating to the subject matte and replaces the all written prior agreements. No amendment to this agreement will be valid unless signed in writing by Worthwhile and The Customer.</p>
  <p>7.2 This agreement will be governed and construed in accordance with the laws of England. Both parties hereto agree to submit to the exclusive jurisdiction of the English courts as regards any claim, dispute or matter arising out of or in connection with this agreement and its implementation and effects.</p>
</div>
