{{> tabs}}
<div class="invoice">
  <h3>Invoice</h3>
  <div class="invoice-header">
    <address>
      Worthwhile<br>
      C/O Hub Ventures<br>
      16/17 Turl Street<br>
      Oxford<br>
      OX1 3DH<br>
      E robbie@worthwhile.org.uk<br>
      W www.worthwhile.org.uk<br>
      <br>
      Worthwhile company no. 9078030
    </address>
    <img src="images/Worthwhile_logo.png"/>
  </div>
  <div class="invoice-body">
    <p class="bold">For the attention of: {{employerName}}, ^company^</p>
    <p class="bold">Invoice date: ^date^
    <p>Project title: {{projectName}}^^<br>
    Invoice number: {{invoiceNumber}}^^<br>
    Due date: {{invoiceDueDate}}  ^^<br>
    Worthwhile contact: robbie@wv.co.uk ^^</p>
    <p class="italics">For BACS transfer: Account number: 65756881, Sort code: 089299, “Worthwhile”,
    citing the invoice number. For cheques: please make them payable to “Worthwhile UK”
    and mark the envelope FAO “Worthwhile, C/O Hub Ventures”.</p>
  </div>
</div>
