{{> tabs}}

<!-- Start update status -->
<div class="row" style="margin-top: 30px; display: flex; justify-content: flex-end;">
  {{#renderJobStatusUpdate jobStatus jobId}}{{/renderJobStatusUpdate}}
</div>
<!-- End update status -->

<form action='/update-job' method='post' >

<!-- Start Employer Details Container -->
<div class="containers">
  <div class="row">
    <div class="col s12 title">
      Employer
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="employerName" name="employerName" type="text" class="validate" value="{{employerName}}">
        <label for="employerName">Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">phone</i>
        <input id="employerCoNo" name="employerCoNo" type="text" class="validate" value="{{employerCoNo}}">
        <label for="employerCoNo">Number</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">home</i>
        <input id="employerAddress" name="employerAddress" type="text" class="validate" value="{{employerAddress}}">
        <label for="employerAddress">Address</label>
      </div>
    </div>
  </div>
</div>
<!-- End Employer Details Container -->


<!-- Start Employee Details Container -->
<div class="containers">
  <div class="row">
    <div class="col s12 title">
      Employee
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">account_circle</i>
        <input id="employeeName" name="employeeName" type="text" class="validate" value="{{employeeName}}">

        <label for="employeeName">Name</label>
      </div>
    </div>
    <div class="input-field col s12">
      <i class="material-icons prefix">home</i>
      <input id="employeeAddress" name="employeeAddress" type="text" class="validate" value="{{employeeAddress}}">
      <label for="employeeAddress">Address</label>
    </div>
  </div>
</div>
<!-- End Employee Details Container -->


<!-- Start Job Details Container -->
<div class="containers">
  <div class="row">
    <div class="col s12 title">
      Job Details
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">&#xE869;</i>
        <input id="jobTitle" name="jobTitle" type="text" class="validate" value="{{jobTitle}}">
        <label for="jobTitle">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_contact_calendar</i>
        <label for="jobStartDate">Start Date</label>
        <input id="jobStartDate" name="jobStartDate" type="date" class="datepicker" data-value="{{jobStartDate}}">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_contact_calendar</i>
        <label for="jobEndDate">End Date</label>
        <input id="jobEndDate" name="jobEndDate" type="date" class="datepicker" data-value="{{jobEndDate}}">
      </div>
    </div>
  </div>

</div>
<!-- End Job Details Container -->

<!-- Start Invoice Details Container -->
<div class="containers">
  <div class="row">
    <div class="col s12 title">
      Invoice Details
    </div>
  </div>

  <div class="row">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">&#xE869;</i>
        <input id="invoiceAmmount" name="invoiceAmmount" type="text" class="validate" value="{{invoiceAmmount}}">
        <label for="invoiceAmmount">Amount in pounds</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_contact_calendar</i>
        <label for="projectName">Project Name</label>
        <input id="projectName" name="projectName" type="text" class="validate" data-value="{{projectName}}">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_contact_calendar</i>
        <label for="invoiceDate">Invoice Issue date</label>
        <input id="invoiceDate" name="invoiceDate" type="date" class="datepicker" data-value="{{invoiceDate}}">
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">perm_contact_calendar</i>
        <label for="invoiceDueDate">Due date</label>
        <input id="invoiceDueDate" name="invoiceDueDate" type="date" class="datepicker" data-value="{{invoiceDueDate}}">
      </div>
    </div>
    <input id="jobId" name="jobId" value="{{jobId}}" type="hidden" >
    <input id="_id" name="_id" value="{{_id}}" type="hidden" >
    <input id="jobStatus" name="jobStatus" value="{{jobStatus}}" type="hidden" >
  </div>
</div>
<!-- End Invoice Details Container -->

<!-- Start issue contract button -->
<div class="row" style="margin-top: 30px; display: flex; justify-content: flex-end;">
  <button class="waves-effect waves-light btn-large">Update Details</button>
</div>
<!-- End issue contract button -->

</form>


<script src="/javascript/job.js" charset="utf-8"></script>
