.body {
  border-left: 40px solid red;
}

.header {
  height: 10%;
  width: 100%;
  background-color: #0075b2;
}

.logo {
  margin-top: 1vh;
  margin-left: 2vw;
}

li {
  display: inline-block;
}

.active {
  display: block !important;
}

#details {
  display: none;
}

#invoice {
  display: none;
}

#contract {
  display: none;
}
