.body {
  border-left: 40px solid red;
}

.header {
  height: 10%;
  width: 100%;
  background-color: #0075b2;
}

.logo {
  margin-top: 1vh;
  margin-left: 5vw;
}

.tabs {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  width: 60%;
}

.tabs li {
  display: inline-block;
  margin-left: 1.7vw;
  font-size: 17px;
}

.tabs a:hover {
  color: #7ADEFF !important;
}

.active {
  display: block !important;
}

.active-tab {
  border-bottom: 1px solid #7ADEFF;
}

#details {
  display: none;
}

#invoice {
  display: none;
}

#contract {
  display: none;
}
