body {
  margin: 0px;
}

#container {
  width: 90%;
  margin: auto;
}



#filter_by {
  margin-top: 10px;
  margin-bottom: 10px;
  float: right;
}

#dropdown1 {
  margin-top: 10px;
  float: right;
}

table {
  width: 100%;
  margin-top: 10px;
}

th {
  background-color: #A9F5F2;
  font-size: 22px;
  font-family: "Lucide Sans Unicode"
}

table, th, td {
  padding: 10px;
  border-radius: 0px;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lucide Sans Unicode"
}

tr:nth-child(odd) {
  background-color: #F2F2F2;
  font-size: 18px;
  font-weight: 500;
  font-family: "Lucide Sans Unicode"
}
