#container {
  width: 90%;
  margin: auto;
}

#filter_by {
  margin-right: 2.5vw; 
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px !important;
  font-weight: 500 !important;
  float: right;
  background-color: #0075b2;
}

#filter_by:hover {
  opacity: 0.7;
}

#dropdown1 {
  margin-top: 10px;
  float: right;
}

.dropdown-content li a{
  color: black;
}

table {
  width: 100%;
  margin-top: 10px;
}

th {
  background-color: #29b6f6;
  font-size: 22px;
  color: white;
}

table, th, td {
  padding: 10px;
  border-radius: 0px;
  text-align: center;
}

.view {
  background-color: #0075b2 !important;
  font-weight: normal !important;
}

tr:nth-child(even) {
  background-color: #FAFAFA;
  font-size: 18px;
  font-weight: 500;
}

tr:nth-child(odd) {
  background-color: #e0e0e0;
  font-size: 18px;
  font-weight: 500;
}
