#whole_wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 1em;
  background-color: #e0e0e0;
}

.containers {
  background-color: #FAFAFA;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 55px;
  box-shadow: 1px 1px 5px #666;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 30px;
  font-weight: 600;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.button {
  float: right;
  margin-right: .5em;
}

.btn-large {
  font-size: 17px;
  background-color: #0075b2;
}

.material-icons {
  color: #0075b2;
}

label {
  color: #0075b2 !important;
}

.material-icons.prefix.active {
  color:  #0075b2;
}

label.active {
  color:  #0075b2 !important;
}

.input-field input[type="email"]:focus,
.input-field input[type="text"]:focus,
.input-field input[type="email"].valid,
.input-field input[type="text"].valid {
     border-bottom: 1px solid  #0075b2;
     box-shadow: 0 1px 0 0  #0075b2;
}

.input-field input[type="email"],
.input-field input[type="text"],
{
     border-bottom: 1px solid  #0075b2;
}

.material-icons {
  color: #0075b2;
}
