body {

}

#whole_wrapper {
  width: 95%;
  margin: 0 auto;
  padding: 1em;
  background-color: #f2f2f2;

}

.containers {
  background-color: #FAFAFA;
  width: 100%;
  max-width: 780px;
  margin: 0 auto;
  margin-top: 40px;
  padding: 55px;
  box-shadow: 1px 1px 7px #888;
}

.title {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-left: 25px;
  font-size: 30px;
  font-weight: 500;
}

.button {
  float: right;
  margin-right: .5em;
}

.btn-large {
  font-size: 17px;
  background-color: #0075b2;
}

.material-icons {
  color: #0075b2;
}

label {
  color: #0075b2 !important;
}


#email {
  color: #0075b2 !important;
  border-bottom-color: #0075b2 !important;
}

.line_color {
  color: #0075b2 !important;
  border-bottom-color: #0075b2 !important;
}
